body{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
          form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
         img{border:0;}
         /*ul,li{list-style-type:none;}*/
         a{color:#00007F;text-decoration:none;}
         a:hover{text-decoration:none;}

         /*自定义样式*/
         .header{width: 960px;margin: 0 auto;padding: 10px 0;background: #fafafa;border-radius: 10px;}
         .qiehuan{font-size:10px;margin-left: 25px;margin-right:10px;color: #676767;}
         .beijing{color:black;font-size:10px;padding: 5px 10px;border:1px solid #e4e4e4;border-radius: 5px;transition:all 0.25s ease-in-out;}
         .beijing:hover{background: #cccccc;text-decoration:underline;}	
         .shanghai{color:red;font-size:10px;padding: 3px 8px;border:1px solid #e4e4e4;border-radius: 5px;transition:all 0.25s ease-in-out;}
         .shanghai:hover{background: #cccccc;text-decoration:underline;}	
         .biaotouyou{float: right;padding-right: 20px;border-right: 1px solid  #e4e4e4;}
         .biaotouyou2{float: right;margin-right: 15px;margin-left: 15px;}
         .biaotouzi{font-size: 10px;color: #8c8c8c;}

         .nav{width: 960px;margin: 0 auto;text-align: center;}
         .zuofu{float: left;margin-right: 20px;}
         .youfu{float: right;margin-left: 10px;}

         .search{width: 960px;margin: 0 auto;overflow: hidden;}
         #bar{text-align: center;}
         .bt{border: 2px solid red;border-radius: 8px;background: white;display: inline-block;width: 50px;height: 15px;padding: 10px 15px;z-index: -1;top: 5px;position: relative;}
         .kj{width: 960px;background: red;height: 60px;border-radius: 10px;}
         .kl{}
         .from_t{position: relative;left: 90px;top: -85px;width: 415px;height: 20px;border-radius: 6px;color: red;    text-indent: 2em;}
         .from_b{position: relative;left: 90px;top: -80px;width: 66px;height: 29px;border-radius: 20px;background: url(img/2.gif);}
         #text{width: 195px;height: 36px;position: relative;left: 760px;top: -45px;font-size: 12px;font-family: "微软雅黑";}
         .update{width: 406px;height: 14px;position: absolute;left: 400px;top: 205px;background:url();}
         #text a{line-height: 18px;color: white;}
         /*！！！上边一行，不太会，多记*/

         .content{width: 962px;height: 2050px;margin: 0 auto;margin-top: 10px;position: relative;}
         .main{width: 710px;position: absolute;float: left;}
         .top{width: 710px;}
	         .top_left{float: left;width: 350px;height: 420px;border: 1px solid #e5e5e5;border-radius: 10px;}
	         .top_left_title{font-weight: bold;line-height: 42px;color: #d90000;background: url(img/6_03.png) no-repeat 190px 10px;cursor: pointer;}
	         .top_bottom{position: relative;top: 14px;}
	    	.ul{position: relative;left: 22px;font-size: 12px;line-height: 22px;}
	    	ul{color: red;}
			.al{color: black;}

         	.top_right{width: 352px;height: 420px;float: right;border: 1px solid #e5e5e5;border-radius: 10px;}
         	.hot{width: 175px;height: 30px;background: #f6f6f6;border:1px solid #e5e5e5;border-top-right-radius: 10px;border-top-left-radius: 10px;display: inline-block;margin-top: -1px;text-align: center;padding-top: 10px;margin-right: -5px;}
         	.class_1{color: red;font-size: 10px;}
			.class_2{float: right;margin-right: 5px;margin-top: 5px;}
			.htel{width: 320px;height: 100px;margin:0 auto;margin-top: 5px;}
			.class_3{margin-top: 20px;}
			.class_5{margin-top: 20px;margin-right: 70px;float: right;}
			.class_4{float: right;vertical-align: top;margin-top: -100px;}
			.class_6{font-size:5px;color:red;margin-bottom:10px;}
			.class_7{font-size:5px;color:#8d8d8d;}
			.class_8{float:right;margin-right:20px;margin-top:-25px;}

		.main_wrp{width: 710px;}
			.main_wrp_left{width: 350px;height: 500px;border: 1px solid #e5e5e5;border-radius: 10px;margin-top: 10px;position: relative;top: 425px;}
			.new_title{height: 72px;border-bottom: 1px solid #f1f1f1;margin-left: 14px;margin-right: 14px}
			.con1{width: 348px;height: 413px;position: relative;}
			.data1{width: 312px;height: 88px;margin-left: 16px;position: relative;zoom: 1;}
			.li1{width: 24px;height: 24px;text-align: center;line-height: 24px;font-weight: bold;color: #db544f;border: 1px solid #d5d5d5;border-radius: 5px;background: #eeeeed;margin-right: 4px;float: left;}
			.calent{position: relative;}
			.main_wrp .calent h3{width: 300px;height: 34px;background: #f7f7f7;position: absolute;left: 24px;top: 12px;}
			.main_wrp .calent h3 span{font-size: 12px;line-height: 34px;padding: 6px;}
			.main_wrp .calent h3 ol{width: 330px;position: absolute;left: 22px;top: 50px;}
			.main_wrp .calent ol li{width:40px;height:40px;background:#ededed;text-align:center;line-height:40px;font-weight:bold;float:left;margin-left:3px;margin-bottom:3px;left: -18px;position: relative;top: 60px;}
			li{list-style: none;vertical-align: bottom;}

			.recommend{width:350px;height:500px;border:1px solid #e5e5e5;border-radius:10px;margin-top:10px;position:relative;float: right;top: -85px;}
			.recommend .top_title{width:310px;height:72px;background:url(img/9_09.png) no-repeat 106px;position:absolute;left:16px;}
			.recommend .top_title span{position:absolute;font-size:8px;color:#d80000;top:20px;}
			.recommend .top_title p{position:absolute;font-size:22px;top:38px;}
			.recommend .con_img1{width:320px;height:182px;background:#f8f8f8;position:absolute;left:16px;top:72px;border-radius:5px;}
			.recommend .con_img1 .con_img1_01{position:absolute;left:12px;top:10px;border:1px solid white;cursor:pointer;}
			.recommend .con_img1 ul{position:absolute;left:246px;top:12px;}
			.recommend .con_img1 ul li{margin-bottom:12px;cursor:pointer;}
			.recommend .con_img1 ul li img{width:54px;height:30px;border:3px solid white;}
			.recommend .con_img1 p{font-weight:bold;position:absolute;left:14px;top:156px;}

			.recommend .con_list2{width:320px;height:216px;position:absolute;left:16px;top:268px;}
			.recommend .con_list2 ul{position:absolute;left:16px;}
			.recommend .con_list2 ul li{width:305px;position:relative;line-height:28px;background:url(img/9_21.png) no-repeat 0 7px;}
			.recommend .con_list2 ul li a{position:relative;left:22px;color:#000000;padding-left:6px;border-left:1px solid #dfdfdf;}
			.recommend .con_list2 ul li span{position:absolute;left:250px;top:0px;}

			

			/*内容3*/
		.side{width:240px;border:1px solid #DBDBDB;border-radius:10px;float: right;left: 850px;top: 245px;position: absolute;height: 138px;}
			/*.juzhong{text-align: center;}
			.neirong2a{}*/
			.right_top1{height: 30px;background: #f6f6f6;padding-top: 15px;}
			.load{color: red;margin-left: 10px;}
			.more{float: right;margin-right: 10px;}
			.yhi{width: 80px;margin-left: 5px;}
			.yhii{width: 80px;margin-left: 19px;}
			.denglu{width: 50px;height: 25px;background: red;color: white;border-radius: 20px;margin-left:8px;}
			.side .img_1 {height: 90px;margin-top: 60px;background: url(img/9_03.png) no-repeat;border-bottom: none;cursor: pointer;}
			.side .img_2 {height: 180px;margin-top: 15px;background: url(img/9_06.png) no-repeat;border: none;cursor: pointer;}

			/*内容4*/
			.nr4a{float: left;margin:10px 0px}
			.nr4b{width:223px;height:230px;border:2px solid #ececec;float:right;margin-top:30px;border-radius:5px;}
			.nr4c{height: 30px;padding-top: 5px;}
			.ziti{font-size: 10px;}
			.nr4d{width: 65px;height: 18px;background: white;border:1px solid #e5e5e5;border-top-right-radius: 10px;border-top-left-radius: 10px;display: inline-block;margin-top: -10px;text-align: center;;margin-right: -5px;}
			.nr4e{text-align: center;}
			.nr4f{width:215px;height:20px;margin:0 auto;border-top:2px solid #e5e5e5;padding-top: 10px;}
			.nr4g{width:180px;height:30px;margin:0 auto;padding:5px;text-align: center;}
			.nr4h{border-top:1px dashed #cbcbcb;padding:5px 0px;}
			.nr4i{color: #9c2f1d;}
			.nr4j{color: gray;}
			.nr5a{width: 350px;height: 420px;border: 2px solid #ececec;border-radius: 5px;float: left;margin-top: 5px;margin-right: 11px;padding-top: 8px;}

			.nr5a{width: 350px;height: 500px;border: 2px solid #ececec;border-radius: 5px;float: left;margin-top: 5px;margin-right: 11px;padding-top: 8px;}


			.biaoge{width:3rem;height:2.5rem;text-align: center;}
			.biaoge1{width:3.5rem;height:2rem;border:1px solid blue;border-radius: 10px;}
						
						
			.ok{width:223px;height:430px;border:2px solid #ececec;float:right ;margin-top:15px;border-radius:5px;	}

			.nr2a{width: 174px;height: 30px;background: #f6f6f6;border:1px solid #e5e5e5;border-top-right-radius: 10px;border-top-left-radius: 10px;display: inline-block;margin-top: -10px;text-align: center;padding-top: 10px;margin-right: -5px;}
			.nr2b{color: red;font-size: 10px;}
			.nr2c{float: right;margin-right: 0px;margin-top: 5px;}
			.nr2d{width: 320px;height: 100px;margin:0 auto;margin-top: 5px;}
			.nr2f{margin-top: 20px;}
			.nr2g{margin-top: 20px;margin-right: 70px;float: right;}
			.nr2e{float: right;vertical-align: top;margin-top: -100px;}
			.nr2h{font-size:5px;color:red;margin-bottom:10px;}
			.nr2i{font-size:5px;color:#8d8d8d;}
			.nr2j{float:right;margin-right:15px;margin-top:40px;}
			.nr7a{position: relative;}
			.nr7b{position: absolute;bottom: 1px; left: 55px;}
			.nr7c{color:red;font-size:10px;margin-left:10px;margin-bottom:10px;}
			.nr7d{color:black;font-size:10px;margin-left:10px ;}
			.nr7e{width: 350px;height: 350px;border: 2px solid #ececec;border-radius: 5px;float: left;margin-top: -70px;margin-right: 10px;padding-top: 8px; }

			.weibu{width: 710px;}
			.zuobian{height: 300px;position: relative;margin-top: 30px;float: left;width: 350px;border: 1px solid #e5e5e5;border-radius: 10px;}
			.weibu ul li{width: 98px;height: 24px;border: 1px solid #dadada;border-radius: 5px 5px 0 0;float: left;text-indent: 22px;line-height: 25px;}
			.weibu ol li{line-height: 28px;color: #d4051f;border-bottom: 1px dotted #cbcbca;position: relative;}
			.weibu ol li h3{font-size: 12px;width: 160px;color: #9c9c9c;display: inline;padding-left: 99px;position: relative;top: 5px;}
			.zuobian ol li a span {color: #c75d61;}
			.zuobian ol li em {width: 10px;height: 8px;display: block;background: url(img/advice_em_bg.gif) no-repeat;position: absolute;left: 274px;top: 9px;}
			.zuobian .search_ad {width: 300px;height: 26px;font-weight: bold;line-height: 24px;color: #595959;position: relative;left: 30px;}
			.zuobian .search_ad .go {border-radius: 50%;width: 24px;height: 24px;background: url(img/8_26_03.png) no-repeat;position: absolute;left: 262px;}


			.youbian{height: 300px;width: 352px;border: 1px solid #e5e5e5;border-radius: 10px;float: right;position: relative;margin-top: 30px;}
			.youbian a {width: 37px;height: 14px;display: block;background: url(img/8_14_03.png) no-repeat;position: relative;left: 296px;top: -26px;}
			.img_list ol {width: 318px;height: 240px;position: absolute;left: 16px;}
			.img_list ol li {float: left;margin-right: 2px;margin-bottom: 2px;}
			li {list-style: none;vertical-align: bottom;float: left;}
			img {border: none;vertical-align: top;}

			.dibu{width: 710px;}
			.dibu ol {width: 318px;position: absolute;left: -20px;top: 86px;border-bottom: 1px solid #D6D6D6;}
			.dibu ul {float: left;position: relative;left: 16px;top: 104px;margin-right: 50px;}
			.dibu ol li {font-weight: bold;line-height: 44px;background: url(img/help_1.gif) no-repeat 0 10px;position: absolute;text-indent: 20px;margin-right: 40px;color: #b80000;}
			.dibu ol .r {left: 140px;}
			.dibu ol li {font-weight: bold;line-height: 44px;background: url(img/help_1.gif) no-repeat 0 10px;position: absolute;text-indent: 20px;margin-right: 40px;color: #b80000;}
			.dibu ul h2 {font-size: 12px;font-weight: bold;}
			.dibu ul li {position: relative;left: 15px;list-style-type: disc;color: #b4040a;}
			.dibu ul li a {color: #292929;}





